.vectordraw_edit_block {
    border-top: 1px solid #e5e5e5;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
}

.vectordraw_edit_block h2 {
    margin-bottom: 1em;
}

.vectordraw_edit_block p {
    margin-bottom: 1em;
    font-size: 0.9em;
}

.vectordraw_edit_block .jxgboard {
    float: none;
    margin-bottom: 1em;
}

/* Menu */

.vectordraw_edit_block .menu .vector-properties .vector-prop-list .row .vector-remove {
    vertical-align: bottom;
}

.vectordraw_edit_block .menu .vector-properties .vector-prop-list .row .vector-remove button {
    float: right;
}
