.vectordraw_edit_block {
    border-top: 1px solid #e5e5e5;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
}

.vectordraw_edit_block h2 {
    margin-bottom: 1em;
}

.vectordraw_edit_block p {
    margin-bottom: 1em;
    font-size: 0.9em;
}

.vectordraw_edit_block #vectordraw {
    margin-bottom: 1.5em;
}

.vectordraw_edit_block .jxgboard {
    border: 2px solid #1f628d;
    margin-bottom: 1em;
}

.vectordraw_edit_block .jxgboard .JXGtext {
    pointer-events: none;  /* prevents cursor from turning into caret when over a label */
}

/* Menu */

.vectordraw_edit_block .menu {
    width: 100%;
}

.vectordraw_edit_block .menu .controls {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 2px solid #1f628d;
    border-left: 2px solid #1f628d;
    border-right: 2px solid #1f628d;
    padding: 3px;
    background-color: #e0e0e0;
    font-size: 0;
}

.vectordraw_edit_block .menu .controls select {
    width: 160px;
    margin-right: 3px;
    font-size: 18px;
}

.vectordraw_edit_block .menu button {
    border: 1px solid #1f628d;
    border-radius: 5px;
    margin: 4px 0;
    padding: 5px 10px 5px 10px;
    box-shadow: 0 1px 3px #666;
    background-color: #c2e0f4;
    color: #1f628d;
    font-size: 14px;
    text-decoration: none;
}

.vectordraw_edit_block .menu button:hover {
    background: #c2e0f4;
    background-image: -webkit-linear-gradient(top, #c2e0f4, #add5f0);
    background-image: -moz-linear-gradient(top, #c2e0f4, #add5f0);
    background-image: -ms-linear-gradient(top, #c2e0f4, #add5f0);
    background-image: -o-linear-gradient(top, #c2e0f4, #add5f0);
    background-image: linear-gradient(to bottom, #c2e0f4, #add5f0);
    text-decoration: none;
}

.vectordraw_edit_block .menu .vector-properties {
    border-top: 2px solid #1f628d;
    border-left: 2px solid #1f628d;
    border-right: 2px solid #1f628d;
    border-bottom: 0px none;
    padding: 10px;
    font-size: 16px;
    line-height: 1.25;
    background-color: #f7f7f7;
}

.vectordraw_edit_block .menu .vector-properties h3 {
    font-size: 16px;
    margin: 0 0 5px;
}

.vectordraw_edit_block .menu .vector-properties .vector-prop-list {
    display: table;
    width: 100%
}

.vectordraw_edit_block .menu .vector-properties .vector-prop-list .row {
    display: table-row;
}

.vectordraw_edit_block .menu .vector-properties .vector-prop-list .row .vector-prop-name,
.vectordraw_edit_block .menu .vector-properties .vector-prop-list .row .vector-prop-tail,
.vectordraw_edit_block .menu .vector-properties .vector-prop-list .row .vector-prop-tail-label,
.vectordraw_edit_block .menu .vector-properties .vector-prop-list .row .vector-prop-length,
.vectordraw_edit_block .menu .vector-properties .vector-prop-list .row .vector-prop-length-label,
.vectordraw_edit_block .menu .vector-properties .vector-prop-list .row .vector-prop-angle,
.vectordraw_edit_block .menu .vector-properties .vector-prop-list .row .vector-prop-angle-label,
.vectordraw_edit_block .menu .vector-properties .vector-prop-list .row .vector-prop-slope,
.vectordraw_edit_block .menu .vector-properties .vector-prop-list .row .vector-prop-slope-label,
.vectordraw_edit_block .menu .vector-properties .vector-prop-list .row .vector-prop-update,
.vectordraw_edit_block .menu .vector-properties .vector-prop-list .row .vector-remove {
    display: table-cell;
    width: 50%
}

.vectordraw_edit_block .menu .vector-properties .vector-prop-list .row .vector-prop-name,
.vectordraw_edit_block .menu .vector-properties .vector-prop-list .row .vector-prop-tail,
.vectordraw_edit_block .menu .vector-properties .vector-prop-list .row .vector-prop-angle {
    padding-right: 5px;
}

.vectordraw_edit_block .menu .vector-properties .vector-prop-list .row select,
.vectordraw_edit_block .menu .vector-properties .vector-prop-list .row input {
    float: right;
    width: 50%;
}

.vectordraw_edit_block .menu .vector-properties .vector-prop-list .row .vector-remove {
    vertical-align: bottom;
}

.vectordraw_edit_block .menu .vector-properties .vector-prop-list .row .vector-remove button {
    float: right;
}
