Django>=1.8, <2.0; python_version == '2.7'
Django>=2.2, <3.0; python_version > '2.7'

-r requirements.txt

-e git+https://github.com/edx/xblock-sdk.git@0.2.2#egg=xblock-sdk

ddt
pycodestyle
pylint==1.9.5
selenium==3.4.1
