{% load i18n %}
<div class="vectordraw_block">

  <h2>{{ self.display_name }}</h2>

  {% if self.description %}
    <div class="vectordraw-description">
      {{ self.description|safe }}
    </div>
  {% endif %}

  <div id="vectordraw">
    <div class="menu">
      <div class="controls">
        <select>
          {% for vector in self.get_vectors %}
            <option value="vector-{{ forloop.counter0 }}">
              {{ vector.description }}
            </option>
          {% endfor %}
          {% for point in self.get_points %}
            {% if not point.fixed %}
              <option value="point-{{ forloop.counter0 }}">
                {{ point.description }}
              </option>
            {% endif %}
          {% endfor %}
        </select>
        <button class="add-vector">
          {{ self.add_vector_label }}
        </button>
        <button class="reset">Reset</button>
        <button class="redo" title="Redo"><span class="fa fa-repeat" /></button>
        <button class="undo" title="Undo"><span class="fa fa-undo" /></button>
      </div>
      {% if self.show_vector_properties %}
      <div class="vector-properties">
        <h3>{{ self.vector_properties_label }}</h3>
        <div class="vector-prop-name">
          {% trans "name" %}: <span class="value vector-prop-bold">-</span>
        </div>
        <div class="vector-prop-length">
          {% trans "length" %}: <span class="value">-</span>
        </div>
        <div class="vector-prop-angle">
          {% trans "angle" %}: <span class="value">-</span>&deg;
        </div>
        <div class="vector-prop-slope">
          {% trans "slope" %}: <span class="value">-</span>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="jxgboard" style="width: {{ self.width }}px; height: {{ self.height }}px;"></div>
  </div>

  <div class="vectordraw-status">
    <span class="correctness icon-2x"></span>
    <div class="status-message"></div>
  </div>

  <div class="action">
    <button class="check">
      <span class="check-label" aria-hidden="true">{% trans "Check" %}</span>
      <span class="sr"> {% trans "Check your answer" %}</span>
    </button>
  </div>

</div>
